/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@media screen and (orientation: landscape) .ui-mobile .ui-page { min-height: 100% !important; }

body {
    margin: 0;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

/* Portrait layout (default) body*/
.app {
    text-align: left;
    height:100%;
    width: 100%;
    background-color:#EFF8FB;
    position:absolute;
}

#errorDiv {
    color: #057BC5;
    font-size: 150%;
    width: 80%;
    margin: 5%
}

#reloadBtn {
    position:absolute;
    bottom:0;
    width: 100%;
    display: block;
    color: #fff;
    background-color: #057BC5;
    border-color: #057BC5;
    height: 10%;
    font-size: 180%;
}
